.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.header .searchBar {
  border-radius: 100px;
  display: flex;
  font-size: 110%;
  height: 40px;
  justify-content: center;
  padding: 0.2%;
  text-align: center;
  width: 100%;
}

.maxContain {
  display: flex;
  flex-direction: row;
}

.maxContain .container {
  border: 1px solid black;
  height: 100%;
  padding: 5px;
  width: 30%;
}

.inputs {
  appearance: none;
}

.labels {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
}

.labels:hover {
  background-color: grey;
  cursor: pointer;
}

.caixaLupa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200%;
}

.lupa {
  align-self: center;
  display: flex;
  margin: 0.5% 0 0 2%;
  position: absolute;
  width: 5%;
}

.lupinha {
  width: 100%;
}

.container-input {
  display: flex;
  width: 50%;
}

.container-cart {
  align-self: flex-end;
  display: flex;
  width: 12%;
}

.carrinhoCart {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.contadorCarrinho {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.numero {
  background-color: gold;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  font-size: 200%;
  margin-left: 15%;
  padding: 3%;
  text-align: center;
}

.carrinho {
  width: 100%;
}
