.clear {
  clear: both;
}

.emptyCar > img {
  width: 3%;
}

.emptyCar {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.emptyCarPai {
  margin: 1%;
  width: 100%;
}

.emptyBoxPai {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.emptyBoxPai > img {
  width: 20%;
}

.emptyBoxPai > span {
  width: fit-content;
}

.buttonReturn > img {
  width: 40%;
}

.buttonReturn > img:hover {
  cursor: pointer;
  filter: invert(60%);
}

.buttonReturn {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.containerGeral {
  display: flex;
  flex-direction: column;
}

.containerCarrega {
  align-items: center;
  background-color: white;
  border: gray solid 2px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.containerBotoes {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.somaReduz {
  margin: 2%;
}

.material-icons {
  font-size: 35px;
}

.SomeAndRemove {
  margin-left: 2%;
}

.SomeAndRemove:hover {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.containerImagemTitulo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 4%;
  width: 100%;
}

.valorProduto {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.25em;
  justify-content: flex-end;
  margin-right: 10%;
  width: 20%;
}

.valorPrice {
  font-size: 1.5em;
  margin: 0 4%;
  padding: 2%;
}
