.clear {
  clear: both;
}

.emptyCar > img {
  width: 3%;
}

.emptyCar {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.emptyCarPai {
  margin: 1%;
  width: 100%;
}

.emptyBoxPai {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.emptyBoxPai > img {
  width: 20%;
}

.emptyBoxPai > span {
  width: fit-content;
}

.buttonReturn > img {
  width: 40%;
}

.buttonReturn > img:hover {
  cursor: pointer;
  filter: invert(60%);
}

.buttonReturn {
  width: 10%;
}

.containerGeral {
  display: flex;
  flex-direction: column;
}

.containerCarrega {
  align-items: center;
  border: gray solid 2px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.containerBotoes {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.somaReduz {
  margin: 2%;
}

.imagemTitulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.valorProduto {
  display: flex;
  flex-direction: row;
}
