.comp_product_details {
  display: grid;
  grid-template-columns: 33% 66%;
  grid-template-rows: 100%;
}

.comp_product_details > img {
  margin: auto;
  width: 50%;
}

.comp_product_details .campos:nth-child( n ) {
  width: 60%;
}

.comp_product_details .dados {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.comp_product_details .local {
  margin-left: 15%;
}
