.container-geral {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 50%;
}

.comp_product_details {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 2%;
  width: 100%;
}

.comp_product_details > img {
  margin: auto;
  width: 50%;
}

.comp_product_details .dados {
  align-items: center;
  display: flex;
}

.comp_product_details .local {
  margin-left: 15%;
}

.comp_product_details .endereco_vendedor {
  margin-left: 10%;
}

.containerImgFrete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.containerImgFrete img {
  width: 30%;
}

.priceFrete {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
  width: 100%;
}

.priceFrete p {
  font-weight: 800;
}
