.comp_prod_details_qt strong {
  margin: 1%;
}

.comp_prod_details_qt .container {
  align-items: center;
  display: flex;
  width: 40%;
}

.comp_prod_details_qt .container > button {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin: 2%;
  padding: 3%;
  width: 100%;
}

.comp_prod_details_qt .container > i {
  cursor: pointer;
  margin: 2%;
}

.comp_prod_details_qt .container > p {
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 2%;
  text-align: center;
  width: 8%;
}
