.comp_prod_details_qt strong {
  margin: 1%;
}

.comp_prod_details_qt .container {
  width: 20%;
  display: flex;
  align-items: center;
}

.comp_prod_details_qt .container > button {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 2%;
  padding: 3%;
}

.comp_prod_details_qt .container > i {
  margin: 2%;
}

.comp_prod_details_qt .container > p {
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 2%;
}
