.comp_prod_details_qt strong {
  margin: 1%;
}

.comp_prod_details_qt {
  border: 1px solid black;
  margin: 2% 0;
  padding: 2%;
  width: 100%;
}

.comp_prod_details_qt .container {
  align-items: center;
  display: flex;
  width: 100%;
}

.comp_prod_details_qt .container > button {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 0 2%;
  padding: 1%;
  width: 30%;
}

.comp_prod_details_qt .container > button:hover {
  background-color: black;
  color: white;
}

.comp_prod_details_qt .container > i {
  cursor: pointer;
  margin: 2%;
}

.comp_prod_details_qt .container > p {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 1%;
  padding: 1%;
  text-align: center;
  width: 8%;
}

.SomeAndRemove {
  background: transparent;
  border: none;
  width: 36px;
}
