.payment_comp_produto {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.payment_comp_produto > div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2%;
}

.payment_comp_produto > img {
  width: 10%;
}

.payment_comp_produto > div > p {
  margin: 0 auto;
}
