#prod_details_av .container {
  width: 20%;
  display: flex;
  align-items: center;
}

#prod_details_av strong {
  margin: 1%;
}

#prod_details_av .container {
  display: block;
}

#prod_details_av .container > div {
  display: flex;
}

#prod_details_av .container input {
  margin: 2% 5%;
}

#prod_details_av .container textarea {
  margin: 2% 5%;
}

#prod_details_av .container > button {
  margin: 2% 5%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 3%;
}
