.comp_prod_details_av {
  border: 1px solid black;
  padding: 2%;
  width: 100%;
}

.comp_prod_details_av strong {
  margin: 1%;
}

.comp_prod_details_av .container {
  align-items: center;
  display: block;
  width: 20%;
}

.comp_prod_details_av .container > button {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin: 2% 5%;
  padding: 3%;
}

.comp_prod_details_av .container > div {
  display: flex;
}

.comp_prod_details_av .container input {
  margin: 2% 5%;
}

.comp_prod_details_av .container textarea {
  margin: 2% 5%;
}
