.page_payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
}

.buttonPagar {
  margin: 2% 0;
}

.buttonPagar button {
  background-color: black;
  color: white;
  font-size: 1.5em;
  height: 40px;
  width: 100%;
}

.page_payment .comprador {
  background-color: white;
  margin: 2% 0;
}

.page_payment .products {
  background-color: white;
  padding: 2%;
}
