.page_payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
}

.page_payment button {
  margin: 2% 0;
}

.page_payment .comprador {
  margin: 2% 0;
}

.page_payment .products {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
