.payment_comprador {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  padding: 2%;
}

.payment_comprador > p {
  margin: 1% 0;
}

.payment_comprador > .container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.payment_comprador > .container2 {
  display: grid;
  grid-template-columns: 25% 75%;
}

.payment_comprador > .container3 {
  display: grid;
  grid-template-columns: 25% 20% 35% 20%;
}
