.containCard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-top: 2%;
  width: 90%;
}

.containCard .cardComplete {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 7%;
  justify-content: space-between;
  margin: 1%;
  width: 30%;
}

.cardComplete img {
  align-self: auto;
  width: 100%;
}

.titleCard {
  background-color: grey;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  font-size: 110%;
  height: 90px;
  justify-content: center;
  padding: 0 2%;
  text-align: center;
  width: 100%;
}

.titleCardtitle {
  align-self: center;
  display: flex;
  font-size: 110%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.containerTitleCard {
  width: 100%;
}

.buttonAddCart {
  background-color: rgb(114, 104, 79);
  border: 5px groove rgb(100, 97, 80);
  border-color: goldenrod;
  color: white;
  font-family: Cambria , Cochin , Georgia , Times , Times New Roman , serif;
  font-weight: 800;
  height: 50px;
  margin-bottom: 5%;
  width: 120px;
}

.buttonAddCart:hover {
  cursor: pointer;
}

.containerImg {
  display: flex;
  width: 40%;
}

.price {
  font-size: 160%;
  padding: 3%;
}

.containerShipping {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 25%;
  width: 100%;
}

.shipping {
  display: flex;
  flex-direction: column-reverse;
  font-size: 130%;
  justify-content: center;
  width: fit-content;
}

.label {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.label:link {
  color: black;
  text-decoration: aliceblue;
}

.label:visited {
  color: black;
}
