.containCard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-top: 2%;
  width: 90%;
}

.containCard .cardComplete {
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  width: 30%;
}

.cardComplete img {
  align-self: auto;
  width: 100%;
}

.titleCard {
  display: flex;
  background-color: grey;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 110%;
  height: 70px;
  justify-content: center;
  padding: 0 2%;
  text-align: center;
  width: 100%;
}

.titleCardtitle {
  align-self: center;
  display: flex;
  text-align: center;
}

.buttonAddCart {
  background-color: rgb(114, 104, 79);
  border: 5px groove rgb(100, 97, 80);
  border-color: goldenrod;
  color: white;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 50px;
  margin-bottom: 5%;
  width: 120px;
}

.buttonAddCart:hover {
  cursor: pointer;
}

.containerImg {
  display: flex;
  width: 40%;
}

.label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.label:link {
  color: black;
  text-decoration: none;
}

.label:visited {
  color: black;
}
