.containCard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-top: 20px;
  width: 90%;
}

.containCard .cardComplete {
  align-items: center;
  border: 1px solid black;
  background-image: linear-gradient(gray 20%, white 20%);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
  margin: 5px;
  width: 30%;
}

.cardComplete img {
  align-self: auto;
  height: 200px;
  width: 200px;
}

.titleCard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.titleCard > h5 {
  text-align: center;
  font-size: 110%;
  padding: 0 5%;
}
