.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin-right: 2%;
  padding: 2%;
  width: 48%;
}

.page_productDetails > .title {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: center;
}

.page_productDetails {
  display: flex;
  flex-direction: column;
  padding: 0 2% 2%;
}

.containerVolta {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 100%;
}

.containerbutton {
  width: 100%;
}

.containerInfos {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  padding: 1%;
}

.title span {
  font-weight: 700;
}

.avaliaComments {
  display: flex;
  flex-direction: column;
  width: 100%;
}
